In [1]:
#SERIES DATAFRAME
import pandas as pd
import numpy as np
data = np.array(['v','i','s','u','a','l','i','j','k','l','m'])
ser = pd.Series(data)
print(ser)

0     v
1     i
2     s
3     u
4     a
5     l
6     i
7     j
8     k
9     l
10    m
dtype: object

In [ ]:
import pandas as pd
list = ['v','i','s','u','a','l','i']
ser=pd.Series(list)
print(ser)

0    v
1    i
2    s
3    u
4    a
5    l
6    i
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['v','i','s','u','a','l','i'])
ser = pd.Series(data)
print(ser[:4])

0    v
1    i
2    s
3    u
dtype: object

In [2]:
import pandas as pd
import numpy as np
data = np.array(['v','i','s','u','a','l','i'])
ser = pd.Series(data)
ser = pd.Series(data, index=[101,201,301,401,501,601,701])
print(ser[301])

s

In [ ]:
import pandas as pd
df=pd.read_excel("/content/Book1.xlsx")
ser=pd.Series(df['RN'])
data = ser.head(12).sort_values()
data

6     13
1     17
8     18
10    19
2     24
3     30
4     31
9     39
7     42
0     45
11    50
5     56
Name: RN, dtype: int64

In [ ]:
import pandas as pd
df=pd.read_excel("/content/Book1.xlsx")
ser=pd.Series(df['Enrollment No.'])
data = ser.head(12)
data.iloc[6:9]

6    2054491246007
7    2054491246008
8    2054491246009
Name: Enrollment No., dtype: int64

In [ ]:
import pandas as pd
df=pd.read_excel("/content/Book1.xlsx")
ser=pd.Series(df['Enrollment No.'])
data = ser.count()
data

67

In [ ]:
import pandas as pd
df=pd.read_excel("/content/Book1.xlsx")
ser=pd.Series(df['Enrollment No.'])
print("Size = ", df.size,"\n")
print("shape = ", df.shape,"\n")
print("data frame dimension =",df.ndim, "\n")
print("series frame dimension =",ser.ndim, "\n")
print("memory usage =", df.memory_usage(),"\n")

Size =  804

shape =  (67, 12)

data frame dimension = 2

series frame dimension = 1

memory usage = Index               128
RN                  536
Enrollment No.      536
SAP ID              536
Name of Student     536
CA-I (10marks)      536
CO3                 536
CO1                 536
CO2                 536
Unnamed: 8          536
Unnamed: 9          536
Unnamed: 10         536
Unnamed: 11         536
dtype: int64

In [7]:
import pandas as pd
df=pd.read_excel("/content/Book1.xlsx")
before=df.dtypes

df["Enrollment No."] = df["Enrollment No."].astype(int)

after = df.dtypes

print("Before\n", before,"\n")
print("After\n", after,"\n")

Before
 RN                   int64
Enrollment No.       int64
SAP ID               int64
Name of Student     object
CA-I (10marks)       int64
CO3                  int64
CO1                  int64
CO2                  int64
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
dtype: object

After
 RN                   int64
Enrollment No.       int64
SAP ID               int64
Name of Student     object
CA-I (10marks)       int64
CO3                  int64
CO1                  int64
CO2                  int64
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
dtype: object

In [9]:
ser=pd.Series(df["Enrollment No."], name="Enroll No.")
ser

0     2054491246001
1     2054491246002
2     2054491246003
3     2054491246004
4     2054491246005
          ...
62    2154491246502
63    2154491246503
64    2154491246504
65    2154491246505
66    2154491246506
Name: Enroll No., Length: 67, dtype: int64

In [ ]:
#TIME DELTA

In [ ]:
import pandas as pd
print(pd.Timedelta('3 days 3 hours 30 minutes 15 seconds'))

3 days 03:30:15

In [ ]:
print(pd.Timedelta(3,unit="h"))

0 days 03:00:00

In [ ]:
print(pd.Timedelta(days=3))

3 days 00:00:00

In [ ]:
import pandas as pd
s=pd.Series(pd.date_range('2019-1-1', periods=3, freq="D"))
td=pd.Series([pd.Timedelta(days=i) for i in range(3)])
df=pd.DataFrame(dict(A=s, B=td))
print(df)

           A      B
0 2019-01-01 0 days
1 2019-01-02 1 days
2 2019-01-03 2 days

In [ ]:
import pandas as pd
s=pd.Series(pd.date_range('2019-1-1', periods=3, freq="D"))
td=pd.Series([pd.Timedelta(days=i) for i in range(3)])
df=pd.DataFrame(dict(A=s, B=td))
df["C"]=df["A"] + df["B"]
print(df)

           A      B          C
0 2019-01-01 0 days 2019-01-01
1 2019-01-02 1 days 2019-01-03
2 2019-01-03 2 days 2019-01-05