In [ ]:
#To read CSV file!
import pandas as pd
df=pd.read_csv("Book1.csv")
df

,RN,Enrollment No.,SAP ID,Name of Student,CA-I (10marks),CO3,CO1,CO2,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,45,2054491246001,14004200046,AAKANKSHA ANIL SALUNKE,8,16,9,7,CA-II (10marks),Midterm (20marks),UT1,OEA,NaN,NaN,NaN
1,17,2054491246002,14004200016,ABHINASH KAILASH JOSHI,8,16,9,7,10,19,8,8,NaN,NaN,NaN
2,24,2054491246003,14004200023,ADITYA JITENDRA MALI,6,12,7,4,8,17,8,10,NaN,NaN,NaN
3,30,2054491246004,14004200029,AISHWARYA AVINASH PATIL,9,18,9,8,8,14,7,10,NaN,NaN,NaN
4,31,2054491246005,14004200030,AKSHAY AVINASH PATIL,3,6,4,1,8,16,7,8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,64,2154491246502,14004210065,LATIKA PRAVIN BHANDARI,8,16,9,7,7,18,7,8,NaN,NaN,NaN
63,67,2154491246503,14004210068,CHETAN VILAS KHAIRNAR,8,16,9,7,8,15,7,10,NaN,NaN,NaN
64,65,2154491246504,14004210066,DIVYA LALCHAND CHAUDHARI,8,16,9,7,9,18,7,8,NaN,NaN,NaN
65,66,2154491246505,14004210067,HARSHIT ARUN GUJARATHI,10,20,10,10,7,18,5,8,NaN,NaN,NaN
66,68,2154491246506,14004210069,PRANAV SWAPNIL SONAWANE,6,12,7,5,8,19,6,8,NaN,NaN,NaN

In [ ]:
#To create new CSV file!
df2=df.to_csv("new.csv")
df2

In [ ]:
#To Read Excel File!
import pandas as pd
df3=pd.read_excel("Book2.xlsx",sheet_name="Book1")
df3

,RN,Enrollment No.,SAP ID,Name of Student,CA-I (10marks),CO3,CO1,CO2,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,45,2054491246001,14004200046,AAKANKSHA ANIL SALUNKE,8,16,9,7,CA-II (10marks),Midterm (20marks),UT1,OEA
1,17,2054491246002,14004200016,ABHINASH KAILASH JOSHI,8,16,9,7,10,19,8,8
2,24,2054491246003,14004200023,ADITYA JITENDRA MALI,6,12,7,4,8,17,8,10
3,30,2054491246004,14004200029,AISHWARYA AVINASH PATIL,9,18,9,8,8,14,7,10
4,31,2054491246005,14004200030,AKSHAY AVINASH PATIL,3,6,4,1,8,16,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...
62,64,2154491246502,14004210065,LATIKA PRAVIN BHANDARI,8,16,9,7,7,18,7,8
63,67,2154491246503,14004210068,CHETAN VILAS KHAIRNAR,8,16,9,7,8,15,7,10
64,65,2154491246504,14004210066,DIVYA LALCHAND CHAUDHARI,8,16,9,7,9,18,7,8
65,66,2154491246505,14004210067,HARSHIT ARUN GUJARATHI,10,20,10,10,7,18,5,8
66,68,2154491246506,14004210069,PRANAV SWAPNIL SONAWANE,6,12,7,5,8,19,6,8

In [ ]:
df4=pd.DataFrame(df3)
df4

,RN,Enrollment No.,SAP ID,Name of Student,CA-I (10marks),CO3,CO1,CO2,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,45,2054491246001,14004200046,AAKANKSHA ANIL SALUNKE,8,16,9,7,CA-II (10marks),Midterm (20marks),UT1,OEA
1,17,2054491246002,14004200016,ABHINASH KAILASH JOSHI,8,16,9,7,10,19,8,8
2,24,2054491246003,14004200023,ADITYA JITENDRA MALI,6,12,7,4,8,17,8,10
3,30,2054491246004,14004200029,AISHWARYA AVINASH PATIL,9,18,9,8,8,14,7,10
4,31,2054491246005,14004200030,AKSHAY AVINASH PATIL,3,6,4,1,8,16,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...
62,64,2154491246502,14004210065,LATIKA PRAVIN BHANDARI,8,16,9,7,7,18,7,8
63,67,2154491246503,14004210068,CHETAN VILAS KHAIRNAR,8,16,9,7,8,15,7,10
64,65,2154491246504,14004210066,DIVYA LALCHAND CHAUDHARI,8,16,9,7,9,18,7,8
65,66,2154491246505,14004210067,HARSHIT ARUN GUJARATHI,10,20,10,10,7,18,5,8
66,68,2154491246506,14004210069,PRANAV SWAPNIL SONAWANE,6,12,7,5,8,19,6,8

In [ ]:
df4.head()

,RN,Enrollment No.,SAP ID,Name of Student,CA-I (10marks),CO3,CO1,CO2,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,45,2054491246001,14004200046,AAKANKSHA ANIL SALUNKE,8,16,9,7,CA-II (10marks),Midterm (20marks),UT1,OEA
1,17,2054491246002,14004200016,ABHINASH KAILASH JOSHI,8,16,9,7,10,19,8,8
2,24,2054491246003,14004200023,ADITYA JITENDRA MALI,6,12,7,4,8,17,8,10
3,30,2054491246004,14004200029,AISHWARYA AVINASH PATIL,9,18,9,8,8,14,7,10
4,31,2054491246005,14004200030,AKSHAY AVINASH PATIL,3,6,4,1,8,16,7,8

In [ ]:
df4.tail()

,RN,Enrollment No.,SAP ID,Name of Student,CA-I (10marks),CO3,CO1,CO2,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
62,64,2154491246502,14004210065,LATIKA PRAVIN BHANDARI,8,16,9,7,7,18,7,8
63,67,2154491246503,14004210068,CHETAN VILAS KHAIRNAR,8,16,9,7,8,15,7,10
64,65,2154491246504,14004210066,DIVYA LALCHAND CHAUDHARI,8,16,9,7,9,18,7,8
65,66,2154491246505,14004210067,HARSHIT ARUN GUJARATHI,10,20,10,10,7,18,5,8
66,68,2154491246506,14004210069,PRANAV SWAPNIL SONAWANE,6,12,7,5,8,19,6,8

In [1]:
#To read JSON File
import pandas as pd
data = pd.read_json("/content/sample2.json")
data

     name  CGPA
0    Dino   8.3
1    CBUM   9.2
2   Conor   7.6
3  Khabib   6.2
4    Mike   9.4
5   Tyson   8.3